* {
  font-family: 'DM Sans', sans-serif;
}

.active_tab {
  box-shadow: 0 8px 3px -5px #1e6070;
}

.button {
color: #ffffff;
background-color: #1e6070;
border: 1px solid #000;
border-radius: 4px;
padding: 8px 15px;
width: fit-content;
cursor: pointer;
max-height: 40px;
font-size:1em;
text-align: center;
transition: all 0.2s ease-in-out;
}
.button:hover {
box-shadow: 1px 1px #12323c, 2px 2px #12323c, 3px 3px #12323c;
transform: translateX(-3px);
}

.button a {
  color: #ffffff;
}

.delete-button {
  background-color: #f50606;
}

.delete-button:disabled {
  background-color: rgb(248, 151, 151);
  transform: none;
  box-shadow: none;
}

.off {
  display: none;
}